<!-- wp:template-part {"slug":"iroas-page-header","area":"uncategorized"} /-->

<!-- wp:block {"ref":5606} /-->

<!-- wp:kadence/rowlayout {"uniqueID":"_1dd8dd-e6","columns":3,"columnGutter":"narrow","colLayout":"center-half","maxWidth":1348,"topPadding":0,"bottomPadding":0,"leftPadding":1,"rightPadding":1,"topMargin":0,"bottomMargin":0,"paddingUnit":"rem","responsiveMaxWidth":["",null]} -->
<div class="wp-block-kadence-rowlayout alignnone" id="contenido-del-blog"><div id="kt-layout-id_1dd8dd-e6" class="kt-row-layout-inner kt-layout-id_1dd8dd-e6"><div class="kt-row-column-wrap kt-has-3-columns kt-gutter-narrow kt-v-gutter-default kt-row-valign-top kt-row-layout-center-half kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row"><!-- wp:kadence/column {"topPadding":0,"bottomPadding":4,"leftPadding":1,"rightPadding":1,"topMargin":4,"bottomMargin":0,"leftMargin":0,"rightMargin":0,"background":"#ffffff","border":"#ebebeb","borderWidth":[0,3,0,0],"uniqueID":"_9418d8-f5","vsmobile":true,"paddingType":"rem","marginType":"rem","sticky":true,"stickyOffset":[100,"",""],"lock":{"move":false,"remove":false}} -->
<div class="wp-block-kadence-column inner-column-1 kadence-column_9418d8-f5 kvs-sm-false kb-section-is-sticky"><div class="kt-inside-inner-col"><!-- wp:heading {"textAlign":"left","level":3,"textColor":"iroas-gris","className":"linea-bajo-titulo-color"} -->
<h3 class="has-text-align-left linea-bajo-titulo-color has-iroas-gris-color has-text-color">Tabla de contenidos</h3>
<!-- /wp:heading -->

<!-- wp:kadence/tableofcontents {"uniqueID":"_2cf888-a0","allowedHeaders":[{"h1":true,"h2":true,"h3":true,"h4":true,"h5":true,"h6":true}],"listStyle":"numbered","linkStyle":"plain","enableTitle":false,"titleColor":"#f0640a","titleLineHeight":[1.8,"",""],"titleLineType":"em","enableToggle":true,"contentColor":"#193256","contentHoverColor":"#f68c48","contentSize":[null,0.75,0.75],"contentSizeType":"rem","contentLineHeight":[1.5,"",""],"contentLineType":"em","contentFontWeight":"inherit","contentMargin":[0,0,0,0],"enableScrollSpy":true,"contentActiveColor":"#eB6611","enableSmoothScroll":true,"containerMargin":[0,0,0,0],"enableDynamicSearch":true,"enableTitleToggle":true,"className":"mostrar-cursor"} /--></div></div>
<!-- /wp:kadence/column -->

<!-- wp:kadence/column {"id":2,"topPadding":0,"bottomPadding":0,"leftPadding":0,"rightPadding":0,"topMargin":3,"bottomMargin":0,"topMarginM":1,"leftMargin":0,"rightMargin":0,"uniqueID":"_661cdd-c0","marginType":"rem","lock":{"move":false,"remove":false}} -->
<div class="wp-block-kadence-column inner-column-2 kadence-column_661cdd-c0"><div class="kt-inside-inner-col"><!-- wp:kadence/rowlayout {"uniqueID":"_6001f6-5e","columns":1,"collapseGutter":"none","columnGutter":"none","colLayout":"equal","maxWidth":1140,"topPadding":0,"bottomPadding":0,"leftPadding":0,"rightPadding":0,"topMargin":0,"bottomMargin":0,"align":"center","marginUnit":"rem","paddingUnit":"rem"} -->
<div class="wp-block-kadence-rowlayout aligncenter"><div id="kt-layout-id_6001f6-5e" class="kt-row-layout-inner kt-layout-id_6001f6-5e"><div class="kt-row-column-wrap kt-has-1-columns kt-gutter-none kt-v-gutter-none kt-row-valign-top kt-row-layout-equal kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row"><!-- wp:kadence/column {"topPadding":0,"bottomPadding":0,"leftPadding":0,"rightPadding":0,"topMargin":0,"bottomMargin":0,"leftMargin":0,"rightMargin":0,"borderRadius":[5,5,0,0],"uniqueID":"_27c563-58","paddingType":"rem","marginType":"rem","height":[null,"",""],"heightUnit":"vh","stickyOffset":[639,"",""],"lock":{"move":false,"remove":false}} -->
<div class="wp-block-kadence-column inner-column-1 kadence-column_27c563-58"><div class="kt-inside-inner-col"><!-- wp:kadence/tableofcontents {"uniqueID":"_05b10b-3b","allowedHeaders":[{"h1":true,"h2":true,"h3":true,"h4":true,"h5":true,"h6":true}],"listStyle":"numbered","linkStyle":"plain","containerPadding":[10,10,10,10],"containerBackground":"#ffffff","titleColor":"#f0640a","titleLineHeight":[1.8,"",""],"titleLineType":"em","enableToggle":true,"startClosed":true,"contentColor":"#043059","contentHoverColor":"#f0640a","contentSize":[null,0.75,0.75],"contentSizeType":"rem","contentLineHeight":[1.5,"",""],"contentLineType":"em","contentFontWeight":"inherit","contentMargin":[0,0,0,0],"displayShadow":true,"enableScrollSpy":true,"contentActiveColor":"#eB6611","enableSmoothScroll":true,"smoothScrollOffset":80,"containerMargin":[0,0,8,0],"enableDynamicSearch":true,"enableTitleToggle":true,"className":"tabla-de-contenidos-movil"} /-->

<!-- wp:post-content /--></div></div>
<!-- /wp:kadence/column --></div></div></div>
<!-- /wp:kadence/rowlayout --></div></div>
<!-- /wp:kadence/column -->

<!-- wp:kadence/column {"id":3,"topPadding":4,"bottomPadding":4,"leftPadding":1,"rightPadding":1,"topMargin":0,"bottomMargin":0,"leftMargin":0,"rightMargin":0,"background":"#ebebeb","uniqueID":"_df847c-32","linkColor":"#193256","vstablet":true,"vsmobile":true,"paddingType":"rem","lock":{"move":false,"remove":false}} -->
<div class="wp-block-kadence-column inner-column-3 kadence-column_df847c-32 kvs-md-false kvs-sm-false"><div class="kt-inside-inner-col"><!-- wp:search {"label":"Buscar","width":100,"widthUnit":"%","buttonText":"Buscar","buttonUseIcon":true} /-->

<!-- wp:spacer {"height":"32px"} -->
<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":3,"textColor":"iroas-gris"} -->
<h3 class="has-iroas-gris-color has-text-color">Categorías</h3>
<!-- /wp:heading -->

<!-- wp:categories /--></div></div>
<!-- /wp:kadence/column --></div></div></div>
<!-- /wp:kadence/rowlayout -->

<!-- wp:kadence/rowlayout {"uniqueID":"_dabebd-c7","colLayout":"row","maxWidth":1280,"topPadding":0,"bottomPadding":0,"leftPadding":3.125,"rightPadding":3.125,"leftPaddingM":1,"rightPaddingM":1,"topMargin":1,"bottomMargin":0,"tabletPadding":["",1.5,"",1.5],"marginUnit":"rem","paddingUnit":"rem"} -->
<div class="wp-block-kadence-rowlayout alignnone" id="recomendaciones-comentarios"><div id="kt-layout-id_dabebd-c7" class="kt-row-layout-inner kt-layout-id_dabebd-c7"><div class="kt-row-column-wrap kt-has-2-columns kt-gutter-default kt-v-gutter-default kt-row-valign-top kt-row-layout-row kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row"><!-- wp:kadence/column {"topPadding":0,"bottomPadding":0,"leftPadding":0,"rightPadding":0,"topMargin":0,"bottomMargin":0,"leftMargin":0,"rightMargin":0,"uniqueID":"_0244ce-62","lock":{"move":false,"remove":false}} -->
<div class="wp-block-kadence-column inner-column-1 kadence-column_0244ce-62"><div class="kt-inside-inner-col"><!-- wp:kadence/rowlayout {"uniqueID":"_0aa053-10","columns":1,"columnGutter":"skinny","colLayout":"equal","topPadding":0,"bottomPadding":0,"leftPadding":0,"rightPadding":0,"topMargin":0,"bottomMargin":0,"overlayFirstOpacity":0.2,"overlayBlendMode":"multiply","align":"full","bottomSep":"","tabletPadding":["","","",""],"paddingUnit":"rem"} -->
<div class="wp-block-kadence-rowlayout alignfull"><div id="kt-layout-id_0aa053-10" class="kt-row-layout-inner kt-layout-id_0aa053-10"><div class="kt-row-column-wrap kt-has-1-columns kt-gutter-skinny kt-v-gutter-default kt-row-valign-top kt-row-layout-equal kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row"><!-- wp:kadence/column {"topPadding":0,"bottomPadding":0,"leftPadding":0,"rightPadding":0,"topPaddingM":2,"bottomPaddingM":2,"leftPaddingM":0,"rightPaddingM":0,"topMargin":0,"bottomMargin":0,"leftMargin":0,"rightMargin":0,"leftMarginM":0,"rightMarginM":0,"backgroundOpacity":0,"uniqueID":"_793832-6e","topPaddingT":2.5,"bottomPaddingT":2.5,"leftPaddingT":0,"rightPaddingT":0,"leftMarginT":0,"rightMarginT":0,"paddingType":"rem","marginType":"rem","verticalAlignment":"middle","lock":{"move":false,"remove":false},"className":"imagenes-fondo-izquierda-derecha"} -->
<div class="wp-block-kadence-column inner-column-1 kadence-column_793832-6e imagenes-fondo-izquierda-derecha"><div class="kt-inside-inner-col"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="has-text-align-center">Recomendaciones</h2>
<!-- /wp:heading -->

<!-- wp:block {"ref":823} /--></div></div>
<!-- /wp:kadence/column --></div></div></div>
<!-- /wp:kadence/rowlayout --></div></div>
<!-- /wp:kadence/column -->

<!-- wp:kadence/column {"id":2,"topPadding":0,"bottomPadding":0,"leftPadding":0,"rightPadding":0,"topMargin":0,"bottomMargin":0,"leftMargin":0,"rightMargin":0,"uniqueID":"_32acba-4c","paddingType":"rem","lock":{"move":false,"remove":false}} -->
<div class="wp-block-kadence-column inner-column-2 kadence-column_32acba-4c"><div class="kt-inside-inner-col"><!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|50"}}},"backgroundColor":"iroas-gris"} -->
<hr class="wp-block-separator has-text-color has-iroas-gris-color has-alpha-channel-opacity has-iroas-gris-background-color has-background" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--50)"/>
<!-- /wp:separator -->

<!-- wp:kadence/rowlayout {"uniqueID":"_b2a5ba-88","columns":1,"colLayout":"equal","maxWidth":800,"topPadding":0,"bottomPadding":0,"leftPadding":3.125,"rightPadding":3.125,"leftPaddingM":1,"rightPaddingM":1,"topMargin":0,"bottomMargin":0,"tabletPadding":["",1.5,"",1.5],"paddingUnit":"rem"} -->
<div class="wp-block-kadence-rowlayout alignnone"><div id="kt-layout-id_b2a5ba-88" class="kt-row-layout-inner kt-layout-id_b2a5ba-88"><div class="kt-row-column-wrap kt-has-1-columns kt-gutter-default kt-v-gutter-default kt-row-valign-top kt-row-layout-equal kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row"><!-- wp:kadence/column {"topPadding":0,"bottomPadding":0,"leftPadding":0,"rightPadding":0,"topMargin":0,"bottomMargin":0,"leftMargin":0,"rightMargin":0,"uniqueID":"_2778bf-b6","lock":{"move":false,"remove":false}} -->
<div class="wp-block-kadence-column inner-column-1 kadence-column_2778bf-b6"><div class="kt-inside-inner-col"><!-- wp:post-comments-form /-->

<!-- wp:template-part {"slug":"comments","area":"uncategorized"} /--></div></div>
<!-- /wp:kadence/column --></div></div></div>
<!-- /wp:kadence/rowlayout --></div></div>
<!-- /wp:kadence/column --></div></div></div>
<!-- /wp:kadence/rowlayout -->

<!-- wp:template-part {"slug":"iroas-page-footer","area":"uncategorized"} /-->